/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Tailwind CSS */
@import "tailwindcss";

/* Root CSS variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Inline Theme for Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Space Grotesk', sans-serif;
  /* Corrected font-family */
  --font-mono: var(--font-geist-mono);
}

/* Dark mode media query */
@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #131313; */
    /* --foreground: #ffffff; */
  }
}

/* Body styling */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Space Grotesk', sans-serif;
  /* Corrected font-family */
  font-optical-sizing: auto;
}

/* Ant Design Select */
.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}